# List

Types of List

In [1]:
list1=[1,2,3]
list2=['Sandy','Mandy']
list3=['Sandy',1,2]

In [3]:
print(list1)
print(list2)
print(list3)

[1, 2, 3]
['Sandy', 'Mandy']
['Sandy', 1, 2]

Accesing the elements of List

In [1]:
shop=['Milk','Butter','Cheese']
print(shop[0])

Milk

In [3]:
print(shop[-1])

Cheese

Traversing the list

In [4]:
for i in shop:
    print(i)

Milk
Butter
Cheese

In [6]:
for i in range(len(shop)):
    print(shop[i])

Milk
Butter
Cheese

Update/Insert a List

In [7]:
myList=[1,2,65,73,27]
print(myList)
myList[2]=12
print(myList)

[1, 2, 65, 73, 27]
[1, 2, 12, 73, 27]

In [8]:
myList=[1,2,65,73,27]
print(myList)
myList.insert(0,11)
print(myList)

[1, 2, 65, 73, 27]
[11, 1, 2, 65, 73, 27]

Slicing a List

In [9]:
mylist=['a','b','c','d','e']
mylist[0:2]

['a', 'b']

In [10]:
mylist[0:2]=['x','y']
mylist

['x', 'y', 'c', 'd', 'e']

Deleting in List:

1. pop() method
2. delete() method
3. remove() method

In [11]:
mylist=['a','b','c','d','e']
mylist.pop(1)
mylist

['a', 'c', 'd', 'e']

In [12]:
mylist=['a','b','c','d','e']
del mylist[0:2]
mylist

['c', 'd', 'e']

In [13]:
mylist=['a','b','c','d','e']
mylist.remove('d')
mylist

['a', 'b', 'c', 'e']

Searching an element in List

In [15]:
def searching(mylist,value):
    for i in mylist:
        if i==value:
            return mylist.index(i)
        
    return "Value does not exist"

mylis=[11,2,345,64,567,65]
print(searching(mylis,23))

Value does not exist

List Operations and Functions

In [16]:
a=[1,2,3,56,76]
b=[3,4,5,62,59]
c=a+b
print(c)

[1, 2, 3, 56, 76, 3, 4, 5, 62, 59]

In [17]:
a=[1,2,3,56,76]
print(a*4)

[1, 2, 3, 56, 76, 1, 2, 3, 56, 76, 1, 2, 3, 56, 76, 1, 2, 3, 56, 76]

In [18]:
a=[1, 2, 3, 56, 76, 3, 4, 5, 62, 59]
print(len(a))

10

In [19]:
a=[56,52,68,90,23]
print(min(a))

23

In [20]:
a=[56,52,68,90,23]
print(sum(a))

289

In [21]:
t=sum(a)
avg=t/len(a)

In [22]:
print(avg)

57.8